html,
body {
  padding: 0;
  margin: 0;
  font-family: -Shrikhand;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #ececec;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Shrikhand;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
