*{
    margin: 0;
    padding: 0;
    font-family: 'Agbalumo', cursive;
    /* font-family: 'Shrikhand', cursive; */
}

body {
	width: 100%;
    overflow: hidden;
    /* cursor:none; */
    
    
}
.cursor{
  width: 20px;
  height: 20px;
  /* top: -50%; */
  /* left: -10px; */
  /* align-content: center; */
  opacity: 50%;
  border: 1.5px solid white;
  box-shadow: 1px 0px 15px #fad9dd, 1px 0px 3px black;
  /* transform:translateX(-10px)translateY(-10px); */
  border-radius: 50%;
  position: absolute;
  z-index: 10000;
  transition-duration: 50ms;
  transition-timing-function: ease-out;
  /* pointer-events: all; */
  /* align-items: center; */
  /* justify-self: center; */
  
}

/* .cursor.hover{} */

.banner{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left bottom, #a5caf2, #bcc0f3, #d9b3e7, #f1a7ce, #fe9fac);
    background-size: cover;
    background-position: center;

}

.cloud1 {
    width: 100%;
    position: absolute;
    bottom: -700;
    right: -30;
    z-index: -1;
    opacity: 70%;
    transition: all 0.3s ease-in-out;
    }


.blink-1 {
	-webkit-animation: blink-1 5s ease-in-out infinite both;
	        animation: blink-1 5s ease-in-out infinite both;
}

 @-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 0.7;
    }
    25%,
    75% {
      opacity: 0.9;
    }
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 0.7;
    }
    25%,
    75% {
      opacity: 0.9;
    }
  }

  .shake-horizontal1 {
	-webkit-animation: shake-horizontal1 30s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-horizontal1 30s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

 @-webkit-keyframes shake-horizontal1 {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal1 {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  
.cloud2 {
    width: 100%;
    position: absolute;
    bottom: -515;
    left: -30;
    z-index: -2;
    opacity: 70%;
    transition: all 1.3s ease-in-out;

}

/* .cloud2:hover {
    opacity: 90%;

} */
.blink-2 {
	-webkit-animation: blink-2 5s ease-in-out infinite both;
	        animation: blink-2 5s ease-in-out infinite both;
}

 @-webkit-keyframes blink-2 {
    0%,
    50%,
    100% {
      opacity: 0.9;
    }
    25%,
    75% {
      opacity: 0.7;
    }
  }
  @keyframes blink-2 {
    0%,
    50%,
    100% {
      opacity: 0.9;
    }
    25%,
    75% {
      opacity: 0.7;
    }
  }


  .shake-horizontal2 {
	-webkit-animation: shake-horizontal2 30s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-horizontal2 30s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

 @-webkit-keyframes shake-horizontal2 {
    0%,
    100% {
      -webkit-transform: translateX(10);
              transform: translateX(10);
    }
    15%,
    35%,
    55%,
    75% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    25%,
    45%,
    65% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
    85% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    95% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes shake-horizontal2 {
    0%,
    100% {
      -webkit-transform: translateX(10);
              transform: translateX(10);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    80% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
    90% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
  }
    
  
.logo{
    width: 80px;
    position: fixed;
    margin-left: 20px;
    margin-top: 20px;
    opacity: 50%;
    filter: invert(1);
    transition: all 0.5s ease-in-out;
    z-index: 3;
    
}

.logo:hover{
    transform: scale(105%);
    filter: invert(0);
    
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    border: 1px transparent;
    bottom: 0;
    transform: translateY(-80%);
    text-align: center;
    color: white;
    /* background-color: red; */
    /* -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.145); */
    text-shadow:1px 0px 15px #fad9dd, 1px 0px 3px black ; 

}

.content h1{
    font-size: 50px;
    opacity: 70%;
    letter-spacing: 3px;
    font-family: "Agbalumo";
    font-weight: 100;
    /* margin-bottom: 50px; */
    /* top: 1000px; */
    /* transform: translateY(-0%); */
    transform: translateY(400%);
    /* transform: scale(1px); */
    transition: all 0.5s ease-in-out;

}

.content h1:hover{
    transform: translateY(400%)scale(111%);
    /* transform: scale(111%); */
}

/* 
.FMP.active{
  transform: translateY(100%);
  top: 10px;
} */

.banner h3{
    font-size: 30px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    letter-spacing: 3px;
    font-weight: 100;
    font-family: "Agbalumo";
    color: white;
    opacity: 70%;
    text-shadow:1px 0px 15px #fad9dd, 1px 0px 3px black ;
    transition: all 0.5s ease-in-out;
}

.banner h3:hover{
    bottom: 45px;

}

.Kissme{
    width: 160px;
    padding: 20px;
    margin-top: 40px;
    border-radius: 25px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    text-shadow:1px 0px 15px #fad9dd;
    box-shadow:1px 0px 15px #fad9dd;
    transition: all 0.5s ease-in-out;
    letter-spacing: 2px;
    font-family: "Agbalumo";
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-190%);
    position: fixed;
    /* transform: translate(-50%,100%); */
    /* position: relative; */
    left: 50%;
    top: 110%;
    cursor: none;
}

.Kissme:hover{
    background-color: white;
    color: #ffc0c7;
    top: 108%;
}

.popup{
    width: 1000px;
    padding: 100px 50px 100px;
    border-radius: 50px;
    background-image: linear-gradient(to left bottom, #a5caf2, #bcc0f3, #d9b3e7, #f1a7ce, #fe9fac);
    /* transform: translate(-50%,-50%) scale(0.1); */
    transform: translate(-50%,-50%)scale(0);
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    text-align: center;
    top: -300%;
    /* top: 50%; */
    left: 50%;
    /* visibility: hidden; */
    opacity: 90%;
    transition: transform 0.4s, top 0.4s;
}

.popup.active {
  transform: translate(-50%,-10%)scale(1);
  top: 50%;

}
/* 
.open-popup{
  top: 50%;
  visibility: visible;
  transform: translate(-50%,-50%) scale(1);
} */

.popup h4{
    font-size: 19px;
    position: absolute;
    top: 120px;
    left: 70px;
    opacity: 70%;
    /* background-color: red; */
    letter-spacing: 3px;
    font-weight: 200;
    text-shadow:1px 0px 15px #fad9dd;

}
.popup h4:hover{
    opacity: 90%;
}

.popup h2{
    margin-top: 70px;
    font-size: 25px;
    letter-spacing: 2px;
    opacity: 70%;
    font-family: "Agbalumo";
    font-weight: 200;
    text-shadow:1px 0px 15px #fad9dd;
    /* display: none; */
}

.popup h2:hover{
    opacity: 90%;
}

.popup h5{
    font-size: 19px;
    position: absolute;
    bottom: 50px;
    right: 70px;
    letter-spacing: 3px;
    opacity: 70%;
    font-weight: 200;
    text-shadow:1px 0px 15px #fad9dd;

}
.popup h5:hover{
    opacity: 90%;
}

.img{
    position: absolute;
    width: 250px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    margin-top: -190px;
    opacity: 60%;
    transition: all 0.5s ease-in-out;
    /* background-color: red; */
    
}

.img:hover{
    opacity: 90%;
    margin-top: -195px;
}

.heart img{
    /* background-color: red; */
    width: 50px;
    transform: translate(130%,-570%);
    /* top: 50%; */
    /* right: 50%; */
    margin-top: 20px;
    margin-right: 50px;
    cursor: pointer;
    opacity: 60%;
    transition: all 0.5s ease-in-out;
    
}
.heart img:hover{
    opacity: 90%;
    /* transform: translate(140%,-591%); */
    margin-top: 10px;
}
    
/* #overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  visibility: hidden;
  background-image: linear-gradient(to left bottom, #c0deff, #d0d3fd, #e4c7f1, #f6bbdb, #ffb3be);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 9999;

}

#overlay.active {
  pointer-events: all;
  opacity: 1;
} */

@media  (max-width: 375px) {

  #FMP{
    font-size: 40px;
    /* top: 90px; */
    transform: translateY(400%);
    margin-bottom: 10px;
    /* font-family: "Agbalumo"; */
    /* background-color: red; */
  }

  #FMP:hover{
    transform: translateY(400%)scale(111%);
  }

  .Kissme{
    font-size: 20px;
    margin-top: 10px;
    transform: translate(-50%,-140%);

  }
  .cloud1 {
    bottom: -380px;
    scale: 400%;
    /* background-color: red; */
  }

  .cloud2{
    bottom: -500px;
    transform: translate(-50%,50%) scale(300%);
    left: -500px;
    /* scale: 400%; */
    height: 100%;
    width: 100vh;
    /* position: relative; */
    /* background-color: red; */
    /* display: none; */
  }

  .popup.active{
    width: 370px;
    /* height: 700px; */
    justify-content: center;
    /* top: 50%; */
    position: absolute;
    transform: translate(-50%,-30%) scale(70%);
    /* text-align: center; */
    /* align-items: center; */
  }

  .img{
    transform: translate(-50%,-330%);
    /* background-color: red; */
  }

  .heart img{
    /* background-color: red; */
    margin-top: 20px;
    transform: translate(120%,-950%);
  }
  .popup h2{
    /* background-color: red; */
    /* justify-content: center; */
    transform: translateX(14%);
  }

  .popup h4{
    /* background-color: red; */
    transform: translateX(-2%);
  }

  .popup h5{
    /* background-color: red; */
    transform: translateX(50%);
    }

  .banner h3 {
    /* font-size: 40px; */
    scale: 80%;
    /* background-color: red; */
  }  

  .logo{
    margin-left: 10px;
    margin-top: 10px;
    scale: 80%;
  }

  body {
    overflow: hidden;    
  }
  .banner{
	  
    width: 375px;
    height: 100%;
    background-image: linear-gradient(to left bottom, #a5caf2, #bcc0f3, #d9b3e7, #f1a7ce, #fe9fac);
    background-size: cover;
    background-position: center;

}
}
